<div ng-controller="AddRulesController as addRulesCtrl">
  <form>
    <div class="form-group">
      <label for="topics">Topics</label>
      <select class="form-control" name="topics" id="topics">
        <option value="1">Topic 1</option>
        <option value="2">Topic 2</option>
        <option value="3">Topic 3</option>
        <option value="4">Topic 4</option>
        <option value="5">Topic 5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <input type="text" class="form-control" id="description" placeholder="Descripción">
    </div>  
    <div class="form-group">
      <label for="stages">Stages</label>
      <select class="form-control" name="stages" id="stages">
        <option value="1">Stage 1</option>
        <option value="2">Stage 2</option>
        <option value="3">Stage 3</option>
        <option value="4">Stage 4</option>
        <option value="5">Stage 5</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Active
      </label>
    </div>

    <div class="jumbotron">
      <span ng-repeat="exp in addRulesCtrl.result track by $index"><a>{{exp.value}}</a> </span>
    </div>

    <div class="form-group col-xs-6">
      <label for="types">Tipo</label>
      <select 
        class="form-control" 
        name="types" 
        id="types" 
        ng-model="addRulesCtrl.typeSelected" 
        ng-options="type.description for type in addRulesCtrl.types track by type.value">
      </select>
    </div>

    <div class="form-group col-xs-6">
      <label for="operators">Operador</label>
      <select 
        class="form-control" 
        name="operators" 
        id="operators" 
        ng-model="addRulesCtrl.selectedOperator" 
        ng-options="operator.description for operator in addRulesCtrl.operators track by operator.value">
      </select>
    </div>

    <div class="col-xs-12">
      <button type="submit" class="btn btn-default">Enviar</button>
    </div>
  </form>
</div>