<div ng-controller="RulesCtrl as ctrl">
  <div class="header" >
    <h1>Rules</h1>
  </div>
  {{ctrl.newRule}}<br/>
  {{ctrl.newCond}}<br/>
  {{ctrl.result}}
  <form>
    <div class="form-group">
      <label for="topic">Topic</label>
      <select class="form-control" name="topic" id="topic" ng-model="ctrl.newRule.topic">
        <option value="Topic 1">Topic 1</option>
        <option value="Topic 2">Topic 2</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Rule Description" ng-model="ctrl.newRule.desc">
    </div>
    <div class="form-group">
      <label for="stage">Stage</label>
      <select class="form-control" name="stage" id="stage" ng-model="ctrl.newRule.stage">
        <option value="Stage 1">Stage 1</option>
        <option value="Stage 2">Stage 2</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="ctrl.newRule.flag"> Active
      </label>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Field</th>
          <th>Field Type</th>
          <th>Condition</th>
          <th>Value</th>
          <th>Add Condition</th>
        </tr>
      </thead>
      <thbody>
        <tr ng-repeat="fields in ctrl.stageFields">
          <th scope="row" id="field" ng-model="fields.name" ng-value="fields.name">{{fields.name}}</th>
          <td id="type" value="String" ng-model="fields.typ">{{fields.typ}}</td>
          <td>
            <select class="form-control" name="condition" ng-model="fields.condition">
              <option ng-repeat="cond in ctrl.fieldConditionsMap[fields.typ].oper" ng-value="cond.cod">{{cond.cod}}</option>
            </select>
          </td>
          <td><input placeholder="Value to compare" ng-model="fields.value" value="''"></td>
          <td>
            <button class="btn btn-default" ng-click="ctrl.addCondition(fields.condition, fields.name, fields.value, fields.typ)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
      </thbody>
    </table>

    <div class="jumbotron">
      <span ng-repeat="exp in ctrl.result track by $index">
        {{exp}}</span>
    </div>


    <script type="text/ng-template"  id="tree_node_item.html">
      {{data.op}}
      <button ng-click="ctrl.addItem(data)" ng-show="data.op !== 'LEAF'">Add condition</button>
      <button ng-click="ctrl.deleteItem(data)">Delete condition</button>
      <ul>
        <li ng-repeat="data in data.conns" ng-include="'tree_node_item.html'">
        </li>
        <li ng-if="data.op === 'LEAF'">
          {{data.leaf}}
        </li>
      </ul>
    </script>

    <li ng-init="data = ctrl.json.cond" ng-include="'tree_node_item.html'"></li>


    <div class="col-xs-12">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </form>
</div>
