<div ng-controller="RulesCtrl as ctrl">
  <div class="header" >
    <h1>Rules</h1>
  </div>
  <div class="container">
    <form autocomplete="off">
      <div class="form-group">
        <label for="name">Rule Name</label>
        <input type="text" class="form-control" id="name" placeholder="Rule Name" ng-model="ctrl.newRule.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Rule Description" ng-model="ctrl.newRule.desc">
      </div>
      <div class="form-group">
        <label for="topic">Topic</label>
        <!--<select class="form-control" name="topic" id="topic" ng-model="ctrl.newRule.topic">-->
        <select class="form-control" name="topic" id="topic" ng-model="ctrl.topicSelected" ng-options="topic.topic for topic in ctrl.dbTopics" ng-change="ctrl.topicSelection()">
          <!-- <option ng-repeat="topic in ctrl.dbTopics" value="{{topic.topic}}" ng-click="ctrl.topicSelection(topic.stages)">{{topic.topic}}</option> -->
        </select>
      </div>
      <div class="form-group">
        <label for="stage">Stage</label>
        <select class="form-control" name="stage" id="stage" ng-model="ctrl.stageSelected" ng-options="stage.stage for stage in ctrl.stagesOfTopic" ng-change="ctrl.stageSelection()">
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.newRule.flag"> Active
        </label>
      </div>

      <!-- Dibuja el arbol de condiciones -->
       <div class="panel panel-group">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            <button type="button" class="btn btn-default" ng-click="ctrl.clearTree()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" ng-model="ctrl.currentElement"
                    ng-disabled="(!ctrl.isEmpty(ctrl.newRule.cond) && ctrl.isEmpty(ctrl.currentElement)) || ctrl.currentElement.data.op === 'LEAF'" class="btn btn-default" data-toggle="modal" data-target="#addNode">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </button>
            <button type="button" ng-model="ctrl.currentElement"
                    ng-disabled="(!ctrl.isEmpty(ctrl.newRule.cond) && ctrl.isEmpty(ctrl.currentElement)) || ctrl.currentElement.data.op === 'LEAF'" class="btn btn-default" data-toggle="modal" data-target="#addCondition">
              <span class="glyphicon glyphicon-leaf"></span>
            </button>
            <button type="button" ng-model="ctrl.currentElement" class="btn btn-default" ng-disabled="ctrl.isEmpty(ctrl.currentElement) || ctrl.currentElement.parent === null" ng-click="ctrl.removeArrayElement()">
              <span class="glyphicon glyphicon-scissors"></span>
            </button>
          </div>
          <div class="panel panel-body">
            <div class="panel panel-default" ng-if="!ctrl.isEmpty(ctrl.newCondArray[0].data)">
              <div class="panel list-group-item {{ctrl.isCurrentElement(item)}}" ng-repeat="item in ctrl.newCondArray" ng-if="item.data.op !== 'END'" ng-click="ctrl.currentArrayElement(item)">
                <span ng-if="item.data.op !== 'LEAF'" style="margin-left:{{(item.level-1)*1.5}}em;font-weight: bold;" ng-click="ctrl.currentArrayElement(item)">{{item.data.op}}</span>
                <span ng-if="item.data.op === 'LEAF'" style="margin-left:{{(item.level-1)*1.5}}em;font-style: italic;" ng-click="ctrl.currentArrayElement(item)">{{ctrl.leafToString(item.data.leaf)}}</span>
              </div>
            </div>
          </div>
          <div class="panel panel-footer">
            <span ng-repeat="exp in ctrl.result track by $index">{{exp}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="action">Action</label>
        <!--<select class="form-control" name="topic" id="topic" ng-model="ctrl.newRule.topic">-->
        <select class="form-control" name="action" id="action" ng-model="ctrl.newRule.action" ng-change="ctrl.clearActionFields()">
          <option value="MESSAGE">Save full message</option>
          <option value="FIELDS">Save some fields</option>
          <option value="LITERALS">Save Literal</option>
        </select>
      </div>

      <div class="form-group" ng-if="ctrl.newRule.action==='FIELDS'">
        <div class="col-xs-6">
          <label for="act_field">Field</label>
        </div>
        <div class="col-xs-4">
          <label for="but">Remove/Add</label>
        </div>
        <div ng-repeat="act_field in ctrl.newRule.actionFields" class="row">
          <div class="form-group col-xs-6">
            <select class="form-control" id="act_field" ng-model="ctrl.newRule.actionFields[$index]" ng-change="ctrl.quitarActionFieldRepetidos()">
              <option ng-repeat="fld in ctrl.fieldsOfStage" ng-value="fld.name">{{fld.name}}</option>
            </select>
          </div>
          <div class="form-group col-xs-4" id="but">
            <button class="btn btn-default" ng-show="$last && !$first" ng-click="ctrl.removeActionField()" ><span class="glyphicon glyphicon-minus"></span></button>
            <button class="btn btn-default" ng-show="$last" ng-click="ctrl.addActionField()"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="ctrl.newRule.action==='LITERALS'">
        <label for="lit">Literal</label>
        <input type="text" class="form-control" id="lit" placeholder="Literal a guardar" ng-model="ctrl.newRule.actionFields[0]">
      </div>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-default" ng-click="ctrl.saveRule($document)">Save</button>
      </div>
    </form>
  </div>
  <div class="container voffset15">
    <div id = "alert_placeholder"></div>
  </div>

  <!-- Las rules ya dadas de alta en la base de datos -->
  <label for="existing-rules"> Existing Rules</label>
  <div class="container voffset15" id="existing-rules">
    <div class="alert alert-warning" ng-if="ctrl.dbRules.length === 0">
      <strong><span class="glyphicon glyphicon-warning-sign"></span></strong>
      <span>No se han recuperado Reglas de Base de Datos</span>
    </div>
    <div class="panel panel-group" ng-if="ctrl.dbRules.length > 0">
      <div class="panel panel-default">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Stage</th>
          <th>Active</th>
          <th>User</th>
          <th>Condition Tree</th>
        </tr>
        </thead>
        <thbody>
          <tr ng-repeat="rule in ctrl.dbRules">
            <th scope="row" id="rule_name" ng-model="rule.name" ng-value="rule.name">{{rule.name}}</th>
            <td id="rule_desc" ng-model="rule.desc">{{rule.desc}}</td>
            <td id="rule_stage" ng-model="rule.stage">{{rule.stage}}</td>
            <td id="rule_active" ng-model="rule.flag"><input type="checkbox" ng-model="rule.flag" disabled></td>
            <td id="rule_user" ng-model="rule.user">{{rule.user}}</td>
            <td>
              <button class="btn btn-default" data-toggle="modal" data-target="#showTree" ng-click="ctrl.indexModalShowTree=$index;">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
        </thbody>
      </table>
      </div>
    </div>
  </div>



  <!-- Modal para mostrar un arbol de condiciones -->
  <div id="showTree" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Condition Tree</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-group">
          <div class="panel panel-default" ng-if="!ctrl.isEmpty(ctrl.dbRulesCondition[ctrl.indexModalShowTree])">
            <div class="panel list-group-item" ng-repeat="item in ctrl.dbRulesCondition[ctrl.indexModalShowTree]" ng-if="item.data.op !== 'END'">
              <span ng-if="item.data.op !== 'LEAF'" style="margin-left:{{(item.level-1)*1.5}}em;font-weight: bold;">{{item.data.op}}</span>
              <span ng-if="item.data.op === 'LEAF'" style="margin-left:{{(item.level-1)*1.5}}em;font-style: italic;">{{ctrl.leafToString(item.data.leaf)}}</span>
            </div>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para insertar una condicion (campor + operador + valor )-->
  <div id="addCondition" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Condition</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Field</th>
              <th>Field Type</th>
              <th>Condition</th>
              <th>Value</th>
              <th>Add Condition</th>
            </tr>
            </thead>
            <thbody>
              <tr ng-repeat="fields in ctrl.fieldsOfStage">
                <th scope="row" id="field" ng-model="fields.name" ng-value="fields.name">{{fields.name}}</th>
                <td id="type" ng-model="fields.typ">{{fields.typ}}</td>
                <td>
                  <select class="form-control" name="condition" ng-model="fields.condition">
                    <option ng-repeat="cond in ctrl.fieldConditionsMap[fields.typ].oper" ng-value="cond.cod">{{cond.cod}}</option>
                  </select>
                </td>
                <td><input placeholder="Value to compare" ng-model="fields.value" value="''"></td>
                <td>
                  <button class="btn btn-default" ng-click="ctrl.addArrayCondition(fields.condition, fields.name, fields.value, fields.typ)" data-dismiss="modal">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </td>
              </tr>
            </thbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para insertar un nodo -->
  <div id="addNode" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Node</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Connector Code</th>
              <th>Description</th>
              <th>Select</th>
            </tr>
            </thead>
            <thbody>
              <tr ng-repeat="connector in ctrl.dbconnectors">
                <th scope="row" id="connector" ng-model="connector.tipo" ng-value="connector.tipo">{{connector.tipo}}</th>
                <td id="conn_desc" ng-model="connector.desc">{{connector.desc}}</td>
                <td>
                  <button class="btn btn-default" ng-click="ctrl.addArrayNode(connector.tipo)" data-dismiss="modal">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </td>
              </tr>
            </thbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
